h2 {
    color: #fff;
}

.dropdown__toggle {
    display: none;
}

.card-icon {
    font-size: 32px;
    padding: 0 4px;
}
.card-scroll {
    overflow-y: scroll;
    height: 180px;
    padding: 1rem;
}
.card-title,
.card-text {
    color: var(--secondary);
}

.btn {
    border: none;
    color: #fff;
}
.btn_save {
    background: var(--secondary);
}
.btn_cancel {
    background: #555;
    color: #fff;
}
.btn_delete {
    background: var(--tertiary);
    color: #fff;
}
.tools__dropdown {
    padding: 1rem 1rem;
}
.dropdown__hidden {
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}
.dropdown__toggle:checked + .dropdown__label + .dropdown__hidden {
    max-height: 100vh;
}

.dropdown__toggle:checked + .dropdown__label::after {
    transform: rotate(90deg) translateX(-3px);
}
.dropdown__toggle:checked + .dropdown__label {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dropdown__label--underlined {
    text-decoration: underline;
}
.edit__link {
    color: #ffffff;
    text-align: right;
    padding: 10px 0;
}
.edit__h1 {
    font-size: 1rem;
    color: #fff;
    padding-top: 12px;
    padding-left: 12px;
}
.edit__h2 {
    font-size: 1.5rem;
    padding-left: 12px;
}
/* styling of import checkboxes */
.container__checkboxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 20px;
}

.container input:checked ~ .checkmark {
    background-color: var(--tertiary);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 0;
    width: 10px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* end checkbox styling*/
