h2 {
    color: #fff;
}

.dropdown__toggle {
    display: none;
}

.card-icon {
    font-size: 32px;
    padding: 0 4px;
}
.card-scroll {
    overflow-y: scroll;
    height: 180px;
    padding: 1rem;
}
.card-title,
.card-text {
    color: var(--secondary);
}

.btn {
    border: none;
    color: #fff;
}
.btn_save {
    background: var(--secondary);
}
.btn_cancel {
    background: #555;
    color: #fff;
}
.btn_delete {
    background: var(--tertiary);
    color: #fff;
}
.tools__dropdown {
    padding: 1rem 1rem;
}
.dropdown__hidden {
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}
.dropdown__toggle:checked + .dropdown__label + .dropdown__hidden {
    max-height: 100vh;
}

.dropdown__toggle:checked + .dropdown__label::after {
    transform: rotate(90deg) translateX(-3px);
}
.dropdown__toggle:checked + .dropdown__label {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.dropdown__label--underlined {
    text-decoration: underline;
}
.edit__link {
    color: #ffffff;
    text-align: right;
    padding: 10px 0;
}
.edit__h1 {
    font-size: 1rem;
    color: #fff;
    padding-top: 12px;
    padding-left: 12px;
}
.edit__h2 {
    font-size: 1.5rem;
    padding-left: 12px;
}
.form-check-input {
}
