.header {
    background: var(--primary);
    border-bottom: var(--secondary) solid 3px;
}

.nav {
    background: var(--primary);
    border-top: var(--secondary) solid 3px;
}
.nav-link {
    color: #ffffff;
}
.nav-link--selected {
    background: var(--secondary);
}
