:root {
    --primary: #30475e;
    --secondary: #00909e;
    --tertiary: #e43f5a;
}

html,
body {
    display: grid;
    grid-template-rows: 48px auto 48px;
    width: 100vw;
}
main {
    padding: 52px 20px;
    grid-row: 2 / 2;
    color: var(--secondary);
}

body {
    background: var(--primary);
}

.filter-primary {
    filter: invert(26%) sepia(6%) saturate(3150%) hue-rotate(170deg)
        brightness(94%) contrast(93%);
}
.filter-secondary {
    filter: invert(33%) sepia(85%) saturate(1127%) hue-rotate(153deg)
        brightness(100%) contrast(101%);
}
.filter-white {
    filter: invert(100%);
}
.inline {
    display: inline-block;
}

hr {
    height: 1px;
    background-color: var(--secondary);
}
