:root {
    --primary: #f8f3eb;
    --secondary: #2fc4b2;
    --tertiary: #f40552;
    --quaternary: #fc7e2f;
}

html,
body {
    display: grid;
    grid-template-rows: 48px auto 48px;
    color: var(--secondary);
    background: var(--primary);
}
main {
    padding: 52px 20px;
    grid-row: 2 / 2;
    color: var(--secondary);
}

.filter-secondary {
    filter: invert(66%) sepia(40%) saturate(645%) hue-rotate(123deg)
        brightness(89%) contrast(97%);
}
.filter-white {
    filter: invert(100%);
}
.inline {
    display: inline-block;
}

hr {
    height: 1px;
    background-color: var(--secondary);
}
